$purple-color: #4d0695;
$white-color:  white;
$placeholder-color:#CBD2E0;
$primary-background: #F5F5F5;
$container-background: white;
$border: #C4C4C4;
$margin-container:100px;
$box-shadow: #000000;
$integration-border:#D9D9D9;

.profile-pics{
    border-radius: 50%;
    border: solid $purple-color 1px;
}

img{
    width: 100%;
    height: 100%;
}
.home-header-container{
    top: 90px;
    position: relative;
    width: 100% !important;
    box-sizing: border-box;
    overflow-x: hidden;
}
.home-page-header-container{
    width: 100% !important;
    height: 170px;
    position: relative;
    text-align: center;
    padding-top: 5px;
    display: block !important;
    align-items: center;
    align-content: center;
    #frame-img{
        align-self: center !important;
    }

    .home-page-header-layer{
        display: flex;
        position: absolute;
        text-align: center;
        align-items: center;
        margin-left: $margin-container;
        top: 140px ;
        column-gap: 0.7rem;
        .profile-pics{
        width: 150px;
        height: 150px;
    }
    p{
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
    }
    }
    
    p{
        color: $purple-color;
        font-size: 24px;
        font-weight: 400;
        line-height: 33.38px;

    }
   
}
.active-color{
    color: #666666B2;
}
.home-page-header-toggles{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    display: flex;
    column-gap: 2rem;
    position: relative;
    color: $purple-color;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 240px;
    margin-bottom: 2rem;
    margin-inline: $margin-container;
    width: 80%;
    span{
        padding-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
    }
    span:hover{
        color: $purple-color;
        cursor: pointer;
    }
    }

    .none{
        display: none;
    }
    .border-bottom{
        border-bottom : 1px solid $purple-color !important;
    }

.stages-container{
    position: relative;
    
    margin-left: $margin-container;

}

.feeds-container{
    display:grid;
    grid-template-columns: 55% 45%;
   
    .users-feeds-container{
        width: 100%;
        position: relative;
     
        
        #search-input{
            display: flex;
            
            width: 50%;
            height: 42px;
            box-shadow: 2px 2px 3px -1px $box-shadow;
            position: relative;
            border-radius: 5px;
            text-align: center;
            align-items: center;
            padding-inline: 18px;
            margin-bottom: 90px;
            input{
                width: 100%;
                padding-left: 18px;
            }
            i{
                font-size: 20px;
            }
        }
        .feeds-users-text-field-container{
            display: block;
            position: relative;
            text-align: right;
            width: 80%;
            border-bottom: 1px solid $border;
            margin-bottom: 3rem;
            padding-bottom: 1rem;
            margin-right: $margin-container;
            #users-text-field{
                display: flex;
                position: relative;
                gap: 1rem;
                .profile-pics{
                    width: 50px;
                    height: 50px;
                }
                input{
                    width: 90%;
                }
            }
            button{
                padding: 10px 25px;
                border-radius: 20px;
                position: relative;
                margin-top: 3rem;
                
            }
        }
        .comments-container{
            display: flex;
            position: relative;
            gap: 1rem;
            margin-bottom: 5rem;
            border-bottom: solid 1px $border;
            width: 100% !important;
            .profile-pics{
                width: 50px;
                height: 50px;
            }
            .comments-details{
                width: 75%;
                padding-top: 0.5rem;
                p{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                }
                span{
                    @extend p;
                    font-size: 16px;
                    line-height: 24px;
                }
                .comments-media{
                    width: 80%;
                    height: 183px;
                    border: 1px solid;
                    border-radius: 10px;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                    overflow: hidden;

                }
                #comment-icons{
                    display: flex;
                    gap: 61px;
                    color: #666666;
                    width: 100%;
                   
                    i{
                        cursor: pointer;
                       
                    }
                    i:hover{
                        color: $purple-color;
                    }
                }
            }
        }
       
    }

    .featured-products-container{
        width: 100%;
        border: 1px solid $border;
        height: fit-content;
        padding: 1rem 2rem;
     
       
        p{
            font-size: 32px;
            font-weight: 600;
            color: $purple-color;
            margin-block: 2rem;
        }
        .features-product-image-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            
           
            .features-product-image-layer{
                height: fit-content;
                text-overflow: ellipsis;
                align-items: center;
                width: 100%;
               
                
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    background-color: white;
                    width: 150px;
                }
                .product-details{
                    margin-top: 1rem;
                    padding-bottom: 0.5rem;
                    p{
                        color: black;
                        text-overflow: ellipsis;
                        position: relative;
                        overflow: hidden;
                        white-space: nowrap;
                        line-height: 25px;
                        margin: 0;

                        
                        span{
                            font-weight: 600;
                        } 
                    }
                }
    
            }
        }
        .features-product-image{
            width: 100%;
            height: 128px;
            box-shadow: 2px 2px 3px  $box-shadow;
            border-radius: 20px;
            border: 0.5px solid #474747;
            // align-items: center;
            justify-content: center;
            position: relative;
            display: flex;
            .profile-pics{
                width: 71px;
                height: 71px;
                border: 1px #4d0695 solid;
                align-self: center;
            }
        }
    }
}

// .container-fluid-int{
//     margin-right: $margin-container;
// }
table{
    border-spacing: 0 15px !important;
    border-collapse: separate;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


thead tr th {
  background-color: $purple-color !important;
  color: $white-color !important;
  font-size: 16px !important;
  font-weight: 600;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
  background-color: $purple-color !important;

}



tbody tr td{
    border-block: 1px $integration-border solid !important;
    font-size: 16px;
    font-weight: 400;
    .profile-pics{
        width: 35px;
        height: 35px;
    }
}

tbody tr:hover td:nth-child(1){
    border-left: 4px $purple-color solid !important;
    border-top-left-radius: 1rem;
}
tbody tr td:nth-child(1){
    border-left: 1px $integration-border solid !important;
    
}

tbody tr td:nth-child(5){
    border-right: 1px $integration-border solid !important;
}
tbody tr .delete-btn{
   border: 1px solid $placeholder-color;
   border-radius: 10px;
   margin-left: 10px;
   padding-block: 10px;
    
}
@media(max-width:1260px){
   
    .features-product-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1rem;
    }
    .home-page-header-toggles{
        margin-left:2rem;
    }

    .stages-container{
        margin-left: 2rem;
    }
    .home-page-header-layer{
        margin-left: 2rem !important;
    }
   
}


@media(max-width:768px){

    .feeds-container{
        display: block;
    }
    .comments-details{
        width: 90% !important;
    }
    
}
@media(max-width:425px){
    
    .home-page-header-toggles{
     
        width: 100%;
        margin-top: 130px !important;
        span{
            font-size: 18px;
            font-weight: 600;
        }
    }
    .comments-media{
        width: 100% !important;
        height: 130px !important;
    }
    #comment-icons{
        gap: 21px !important;
        font-size: 12px;
    }
    .feeds-users-text-field-container{
        width: 80% !important;
        
    }
    .home-page-header-container{
        height: 80px;
        transform: scale(1.4) !important;

    }
    
    .home-page-header-layer{
        margin-left: 5rem !important;
        top: 65px !important;
        .profile-pics{
        width: 70px !important;
        height: 70px !important;
    }
    p{
        font-size: 18px !important;
        font-weight: 500;
        line-height: 48px;
    }
    }
    #search-input{
        width: 60% !important;
    }
}
@media(max-width:375px){
    .stages-container{
        margin-left: 1rem;
    }
    .home-page-header-toggles{
        margin-left: 1rem;
        width: 100%;
    }
    .home-page-header-layer{
        margin-left: 4rem !important;
    }
}
@media(max-width:320px){
    #comment-icons{
        font-size: 10px;
    }

    .home-page-header-layer{
        margin-left: 3.5rem !important;
    }
}
// @media(max-width:214px){
//     .home-page-header-container{
//         width: 400% !important;
       
//     }
//     .home-page-header-toggles{
//         width: 400%;
//     }
  
// }