@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: none;
  outline: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gray: #848484;
  --purple:#4D0695;
  --dark-gray:#2E2F35;
  --pd-lft:3rem;
}

#header-container {
  display: inline-flex;
  padding-left: 3rem;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.header-layer {
  display: inline-flex;
  padding: 56px 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

#header p, h1 {
  color: var(--dark-gray);
  font-family: "Merriweather";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1px;
}

#header h1 {
  color: var(--purple);
  font-size: 96px;
  font-weight: 800;
}

#header-body {
  color: #58595D;
  font-family: "Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 170% */
  width: 553px;
}

#header-container button {
  padding: 12px 25px;
  border-radius: 12px;
  border: 2px solid white;
  background: var(--purple);
  box-shadow: 3px 3pxvar --dark-gray;
  color: white;
  cursor: pointer;
  transition: tr;
}

#header-container button:hover {
  border: 2px solid var(--purple);
  background: #FFF;
  box-shadow: 3px 3px var(--purple);
  color: var(--purple);
}

.bg-img {
  width: 796.806px;
  height: 530.264px;
  background-image: url("../public/images/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column !important;
  justify-content: space-between;
  position: relative;
  gap: 1rem;
}

#top-img {
  display: flex;
  width: 248.59px;
  height: 164.691px;
  padding: 8px 22px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #2E2F35;
  background: #FFF;
  box-shadow: 3px 3px 0px 0px #2E2F35;
  position: relative;
  justify-content: center;
  margin-left: 2.5rem;
}

#top-img .img {
  width: 233.053px;
  height: 147.6px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #000;
  background: url("../public/images/top-img.png"), lightgray 50%/cover no-repeat;
}

#buttom-img {
  display: flex;
  width: 200.881px;
  height: 133.084px;
  padding: 5px 22px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #2E2F35;
  background: #FFF;
  box-shadow: 3px 3px 0px 0px #2E2F35;
  justify-content: center;
  margin-top: 14.5rem;
  margin-left: 2.5rem;
}

#buttom-img .img {
  width: 188.326px;
  height: 119.273px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #000;
  background: url("../public/images/buttom-img.png");
  z-index: 100;
}

#about {
  position: relative;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 80px;
}

.about-container {
  height: -moz-fit-content;
  height: fit-content;
  padding: 174px 120px 0 96px;
  margin-inline: 3.5rem;
}

.about-container h3 {
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E2F35;
}

.about-container h1 {
  font-family: "Manrope";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2px;
  text-align: center;
  margin: 35px 0 !important;
}

.about-container h1 span {
  color: var(--purple) !important;
  font-family: "Manrope";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2px;
}

.about-container span {
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  position: relative;
}

.grid-container {
  display: flex;
  gap: 54px;
  position: relative;
  margin-top: 43px;
  margin-inline: 3.5rem;
  justify-content: center;
}
.grid-container #story,
.grid-container #vision,
.grid-container #mission {
  display: flex;
  padding: 87px 33px 155px 33px;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 406px;
  border-radius: 13px;
  transition: ease 1s;
}
.grid-container #story h4,
.grid-container #vision h4,
.grid-container #mission h4 {
  color: #2E2F35;
  text-align: center;
  font-family: "Manrope";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */
}
.grid-container #story p,
.grid-container #vision p,
.grid-container #mission p {
  color: #58595D;
  text-align: center;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}

#story:hover {
  background: #FBE4E7;
}

#vision:hover {
  background: #D4D8FE;
}

#mission:hover {
  background: #C1F2FF;
}

#story:hover .story-icon {
  opacity: 1;
}

#vision:hover .vision-icon {
  opacity: 1;
}

#mission:hover .mission-icon {
  opacity: 1;
}

.icon-con {
  position: absolute;
  top: 0;
  transition: transform 2s ease;
  transform: translateY(4rem);
}

#mission:hover .icon-con {
  transform: translateY(3rem);
}

#story:hover .icon-con {
  transform: translateY(3rem);
}

#vision:hover .icon-con {
  transform: translateY(3rem);
}

.layer {
  transition: transform 2s ease;
}

#story:hover .layer {
  transform: translateY(7rem);
}

#mission:hover .layer {
  transform: translateY(7rem);
}

#vision:hover .layer {
  transform: translateY(7rem);
}

.story-icon {
  background: url("../public/images/story-icon.png");
  padding: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
  transition: ease 1s;
}

.vision-icon {
  background: url("../public/images/vision-icon.png") !important;
  padding: 60px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
  transition: ease 1s;
}

.mission-icon {
  background: url("../public/images/mission-icon.png") !important;
  padding: 60px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
  transition: 2s ease;
}

#offer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 80px;
  padding-inline: var(--pd-lft);
  background: #4D0695;
  position: relative;
  overflow-x: hidden;
}
#offer .offer-header {
  width: 1029px;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 44px;
  color: #FDFBFF !important;
  margin: auto;
  text-align: center;
  font-family: "Manrope";
}
#offer .offer-header h2 {
  text-align: center;
  padding-inline: 4rem;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  letter-spacing: -2px;
}
#offer .offer-header h6 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 145.833% */
}

#swiper {
  margin-top: 100px;
  width: 100%;
  position: relative;
}

.slider-container {
  display: flex;
  padding: 55px 25px 53px 25px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 13px;
  color: #000;
  width: 380px;
  height: 400px;
  flex-shrink: 0;
}
.slider-container .slide-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-family: "Manrope";
}
.slider-container .slide-layer h1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.slider-container .slide-layer span {
  width: 359px;
  color: #58595D;
  text-align: center;
  font-family: " Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

#works-container {
  width: 100%;
  height: 2264px;
  margin-top: 200px;
  position: relative !important;
  align-items: center !important;
  padding-inline: 4rem;
  text-align: center;
  align-content: center !important;
  display: block;
  padding-bottom: 260px;
}
#works-container .works-header {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 1008px;
  text-align: center;
  padding-inline: 1.5rem;
}
#works-container .works-header h4 {
  color: #58595D;
  text-align: center;
  font-family: "Manrope";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 145.833% */
}
#works-container .works-header h1 {
  color: #2E2F35;
  text-align: center;
  font-family: "Manrope";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 114.583% */
  letter-spacing: -2px;
}
#works-container .works-header h1 span {
  color: #4D0695;
}
#works-container .work-layer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
#works-container .work-layer .layer-left,
#works-container .work-layer #layer-right {
  margin-top: 30rem !important;
}
#works-container .work-layer #layer-left {
  margin-top: 5rem !important;
}
#works-container .work-layer .layer-left,
#works-container .work-layer .layer-right {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 370px;
  height: 1683px;
  margin-top: 5rem;
  padding-left: 3rem;
}

#layer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px !important;
  text-align: left;
}
#layer-content .header {
  width: 563px;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Manrope";
}
#layer-content .header h2 {
  color: #4D0695;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 114.583% */
}
#layer-content .header h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
}
#layer-content .content {
  display: flex;
  padding: 34px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 15px;
  border: 2px solid rgba(77, 6, 149, 0.5);
  position: relative;
}
#layer-content .content p {
  width: 426.091px;
  color: #58595D;
  font-family: "Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 170% */
}
#layer-content .content p a {
  color: #4D0695;
  text-decoration: none;
}
#layer-content .content i {
  font-size: 34px;
  background-color: white;
  color: #4D0695;
  position: absolute;
  left: 3rem;
  top: -1rem;
}

#swiper-works {
  display: none;
}

#swiper-container {
  overflow-x: scroll;
  scrollbar-color: var(--purple);
  scrollbar-width: 1px;
}

@media (max-width: 1045px) {
  #header-container,
  #about,
  #offer,
  #works-container {
    width: 1350px !important;
  }
  .work-layer {
    display: none;
  }
}
#layer-right {
  padding-inline: 0 !important;
}
#layer-right .content {
  width: 500px;
}

@media (max-width: 884px) {
  .work-layer {
    display: none !important;
  }
  #story:hover .layer {
    transform: none;
  }
  #mission:hover .layer {
    transform: none;
  }
  #vision:hover .layer {
    transform: none;
  }
  #header-container,
  #about,
  #offer,
  #works-container {
    width: 100% !important;
  }
  #header-container {
    width: 100%;
    height: 546px;
    flex-shrink: 0;
    display: block;
    padding: 0 2rem;
    justify-content: flex-end;
    margin-top: 0;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../public/images/mobil-bg.png"), lightgray 50%/cover no-repeat;
  }
  #header p, #header h1 {
    color: white;
  }
  #header-body {
    color: white;
  }
  #header-container button {
    box-shadow: 3px 3px 0px 0px #FFF;
  }
  .bg-img {
    display: none;
  }
  .offer-header {
    width: 729px !important;
  }
  .offer-header h2 {
    font-size: 38px !important;
  }
  .offer-header h6 {
    font-size: 14px !important;
  }
  .about-container {
    height: -moz-fit-content;
    height: fit-content;
    padding: 174px 3.5rem;
    margin-inline: 0 !important;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    margin-top: 30px;
    align-items: center;
  }
  .grid-container #story,
  .grid-container #vision,
  .grid-container #mission {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 406px;
    margin-bottom: 16px;
  }
  .grid-container #story,
  .grid-container #vision,
  .grid-container #mission:hover {
    transform: none;
  }
  .grid-container .icon-con {
    position: relative;
    margin-bottom: 30px;
    transform: none;
  }
  .grid-container #story {
    background: #FBE4E7;
  }
  .grid-container #story .story-icon {
    background: url("../public/images/story-icon.png");
    padding: 80px;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    transform: none;
  }
  .grid-container #vision {
    background: #D4D8FE;
  }
  .grid-container #vision .vision-icon {
    background: url("../public/images/vision-icon.png");
    padding: 80px;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    transform: none;
  }
  .grid-container #mission {
    background: #C1F2FF;
  }
  .grid-container #mission .mission-icon {
    background: url("../public/images/mission-icon.png");
    padding: 80px;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    transform: none;
  }
  .works-header {
    width: 100% !important;
  }
  .works-header h4 {
    font-size: 20px !important;
  }
  .works-header h1 {
    font-size: 40px !important;
  }
  .content {
    width: 100% !important;
  }
  .content p {
    width: 100% !important;
  }
  #swiper-works {
    width: 100%;
    display: flex;
    margin-top: 40px;
  }
  #layer-content {
    background: #F8F5FB;
    gap: 30px;
    border-radius: 10px;
    padding: 16px;
  }
  #layer-content h2 {
    font-size: 16px;
  }
}
@media (max-width: 428px) {
  #header-container {
    padding: 0 0.5rem;
    height: 446px;
  }
  .header-layer {
    gap: 16px;
  }
  #header p {
    font-size: 24px;
  }
  #header h1 {
    font-size: 70px;
  }
  #header-body {
    font-size: 12px;
    width: 300px;
    line-height: 20px !important;
  }
  #header-container button {
    margin-top: 40px !important;
  }
  .about-container {
    padding: 40px 1.5rem;
  }
  .about-container h3 {
    font-size: 16px;
    line-height: 35px;
  }
  .about-container h1,
  .about-container h1 span {
    font-size: 20px;
    line-height: 26px;
    margin: 16px 0 !important;
  }
  .about-container span {
    font-size: 12px;
    line-height: 20px;
  }
  #offer {
    padding-inline: 2rem !important;
  }
  .offer-header {
    width: 100% !important;
  }
  .offer-header h2 {
    font-size: 20px !important;
    line-height: 30px !important;
    letter-spacing: 0px;
  }
  .offer-header h6 {
    font-size: 14px !important;
    line-height: 35px !important;
  }
  .slider-container {
    padding: 16px !important;
    width: 354px !important;
    height: 276px !important;
  }
  .slider-container .slide-layer {
    gap: 20px;
    align-self: stretch;
  }
  .slider-container .slide-layer img {
    width: 80px;
    height: 80px;
  }
  .slider-container .slide-layer h1 {
    font-size: 16px;
  }
  .slider-container .slide-layer span {
    width: 322px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .grid-container {
    margin-inline: 1.5rem;
  }
  .grid-container .mission-icon,
  .grid-container .vision-icon,
  .grid-container .story-icon {
    padding: 40px !important;
  }
  .works-header {
    width: 100% !important;
  }
  .works-header h4 {
    font-size: 16px !important;
    line-height: 35px;
  }
  .works-header h1 {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .content {
    width: 100% !important;
  }
  .content p {
    width: 100% !important;
  }
  .content i {
    background-color: #F8F5FB !important;
  }
  #swiper-works {
    width: 100%;
    display: flex;
    margin-top: 10px !important;
  }
  #layer-content {
    background: #F8F5FB;
    gap: 30px;
    border-radius: 10px;
    padding: 16px;
  }
  #layer-content h2 {
    font-size: 16px !important;
  }
  .header {
    width: 100% !important;
  }
  .header h2 {
    font-size: 16px !important;
    line-height: 30px !important;
  }
  .header h3 {
    font-size: 16px !important;
    line-height: 30px !important;
  }
  .content p {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  #works-container {
    padding-inline: 2rem;
    margin-top: 80px !important;
  }
}
@media (max-width: 375px) {
  .slider-container {
    width: 300px !important;
  }
  span {
    width: 250px !important;
  }
}
@media (max-width: 320px) {
  #header-body {
    font-size: 12px;
    width: 260px;
    line-height: 20px !important;
  }
  .slider-container {
    width: 270px !important;
  }
  .works-header {
    width: 100% !important;
  }
  .works-header h4 {
    font-size: 11px !important;
  }
  #offer {
    padding-left: 1.5rem !important;
    padding-right: 0 !important;
  }
  .offer-header {
    padding-right: 1.5rem !important;
  }
  .offer-header h2 {
    font-size: 18px !important;
    line-height: 20px !important;
    letter-spacing: 0px;
    padding: 0;
  }
  .offer-header h6 {
    font-size: 10px !important;
    line-height: 30px !important;
  }
}/*# sourceMappingURL=App.css.map */