@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ledger&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  font-family:"lato";
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
  border: 0;
}

img{
  width: 100%;
  height: 100%;
  align-self: center;
}

$purple-color: #4d0695;
$white-color:  white;
$placeholder-color:#CBD2E0;
$primary-background: #F5F5F5;
$container-background: white;

.navbar-container{
  border-block: solid 0.5rem $purple-color;
  padding-left: 110px;
  padding-block: 5px;
  position: fixed !important;
  width: 100%;
  top: 0;
  right: 0;
  background-color: $white-color;
  z-index: 1000 !important;

  .navbar-log-container{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px $purple-color solid;
    a img{
      width: 100%;
      height: 100%;
    }
  }
}
.sign-container{
  margin-top: 7rem;
}
.sign-in-image{
  background-color: $purple-color;
  position: relative;
  overflow: hidden;
  
img{
  position: relative !important;
  width: 100%;
  top: 18%;
}
}

form{
  .login_logo{
    text-align: center;
    width: 100%;
    span{
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
    }
    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
  
  .form-outline{
    
      input{
        padding: 8px 12px 8px 16px;
      }
      input::placeholder{
        color: $placeholder-color;
      }
      label{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }
 
.form-outline input:focus{
  box-shadow: none;
  outline:  $purple-color;
}
  
  
.forget-password{
  margin-bottom: 2rem;
}


.btn-container .btn{
  color:  $white-color;
  background-color:   $purple-color;
  width: 100%;
  padding: 20px 10px;
}

.btn-container .btn:hover{
  background-color:   $purple-color;
  color: $white-color;
  opacity: 0.9;
}

.forget-password{
  display: flex;
  justify-content: space-between;
}

.register-link{
  text-align: center;
  padding: 0;
}
}


@media(min-height:974px){
  .sign-container{
     margin-top: 250px;
  }
 
}


@media(min-height:974px){
  .sign-container{
     margin-top: 250px;
  }
 
}

@media(max-width:425px){
  .navbar-container{
    padding-left: 40px;
  }
  } 

@media(max-width:350px){
 
.forget-password{
  display: block;
}
}

@media(max-width:375px){
  .navbar-container{
    padding-left: 20px;
  }
}


@media(max-width:320px){
  .forget-password div{
    display: none !important;
  }
}

@media(max-height:649px){
  #signin{
    margin-top: 150px !important;
  }
}