@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: none;
  outline: none;
  // position: relative;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gray: #848484;
  --purple:#4D0695;
  --dark-gray:#2E2F35;
  --pd-lft:3rem;
}

#header-container{
  display: inline-flex;
  padding-left:3rem;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.header-layer{
  display: inline-flex;
  padding: 56px 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

#header p,h1{
  color: var(--dark-gray);
  font-family: "Merriweather";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1px;
}

#header h1{
  color: var(--purple);
  font-size: 96px;
  font-weight: 800;
}

#header-body{
  color: #58595D;
  font-family: "Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 170% */
  width: 553px;
}

#header-container button{
  // margin-top: 40px;
  padding: 12px 25px;
  border-radius: 12px;
  border: 2px solid white;
  background: var(--purple);
  box-shadow: 3px 3pxvar(--dark-gray);
  color: white;
  cursor: pointer;
  transition: tr;

}

#header-container button:hover{
  border: 2px solid var(--purple);
  background: #FFF;
  box-shadow: 3px 3px var(--purple);
  color: var(--purple);

}

.bg-img{
  width: 796.806px;
  height: 530.264px;
  background-image: url("../public/images/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column !important;
  justify-content: space-between;
  position: relative;
  gap: 1rem;
}
#top-img{
  display: flex;
  width: 248.59px;
  height: 164.691px;
  padding:  8px 22px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #2E2F35;
  background: #FFF;
  box-shadow: 3px 3px 0px 0px #2E2F35;
  position: relative;
  justify-content: center;
  margin-left: 2.5rem;
}

#top-img .img{
width: 233.053px;
height: 147.6px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #000;
background: url("../public/images/top-img.png"), lightgray 50% / cover no-repeat;
}

#buttom-img{
  display: flex;
  width: 200.881px;
  height: 133.084px;
  padding: 5px 22px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #2E2F35;
  background: #FFF;
  box-shadow: 3px 3px 0px 0px #2E2F35;
  justify-content: center;
  margin-top: 14.5rem;
  margin-left: 2.5rem;
}

#buttom-img .img{
  width: 188.326px;
  height: 119.273px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #000;
  background: url("../public/images/buttom-img.png");
  z-index: 100;
}

#about{
  position: relative;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 80px;
  // margin-inline: 2rem
}

.about-container{
  height: fit-content;
  padding: 174px 120px 0 96px;
  margin-inline: 3.5rem;
}

.about-container h3{
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #2E2F35;
 

}

.about-container h1{
  font-family: "Manrope";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2px;
  text-align: center;
  margin: 35px 0 !important;
}

.about-container h1 span{
  color: var(--purple) !important;
  font-family: "Manrope";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2px;
}

.about-container span{
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  position: relative;

}

.grid-container{
  display: flex;
  gap:54px ;
  position: relative;
  margin-top: 43px;
  margin-inline: 3.5rem;
  justify-content: center;

  #story,
  #vision,
  #mission{
  display: flex;
  padding: 87px 33px 155px 33px;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 406px;
  border-radius: 13px;
  transition: ease 1s;

  h4{
  color: #2E2F35;
  text-align: center;
  font-family: "Manrope";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */
  
  }
  p{
  color: #58595D;
  text-align: center;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
  }
  }
}


#story:hover{
  background: #FBE4E7;
}

#vision:hover{
  background: #D4D8FE;
}

#mission:hover{
  background: #C1F2FF;
}

#story:hover .story-icon{
  opacity: 1;
}

#vision:hover .vision-icon{
  opacity: 1;
}

#mission:hover .mission-icon{
  opacity: 1;
}

.icon-con{
  position: absolute;
  top: 0;
  transition: transform 2s ease;
  transform: translateY(4rem)
}

#mission:hover .icon-con{
  transform: translateY(3rem);
}

#story:hover .icon-con{
  transform: translateY(3rem);
}

#vision:hover .icon-con{
  transform: translateY(3rem);
}

// #story:hover h4{
//   margin-top: 7rem;
// }

// #vision:hover h4{
//   margin-top: 7rem;
//   transition: ease 1s;
// }

.layer{
  transition: transform 2s ease;
}

#story:hover .layer{
  transform: translateY(7rem);
}

#mission:hover .layer{
  transform: translateY(7rem);
}


#vision:hover .layer{
  transform: translateY(7rem);
}

.story-icon{
  background: url("../public/images/story-icon.png");
  padding: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
  transition: ease 1s;
}

.vision-icon{
  background: url("../public/images/vision-icon.png") !important;
  padding: 60px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
  transition: ease 1s;
}


.mission-icon{
  background: url("../public/images/mission-icon.png") !important;
  padding: 60px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
  transition: 2s ease ;
  // transform: translateY(6rem);
}


#offer{
  width:100%;
  height: fit-content;
  padding-bottom:80px;
  padding-inline: var(--pd-lft);
  background: #4D0695;
  position: relative;
  overflow-x: hidden;
  .offer-header{
    width: 1029px;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    padding-top: 44px;
    color: #FDFBFF !important;
    margin: auto;
    text-align: center;
    font-family: "Manrope";;

    h2{
      text-align: center;
      padding-inline:  4rem;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px; /* 125% */
      letter-spacing: -2px;
    }

    h6{
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 35px; /* 145.833% */
    }
  }
}

#swiper{
  margin-top: 100px;
  width: 100%;
  position: relative;
}

// #swiper-id{
//  overflow-x: scroll;

// }

.slider-container{
  display: flex;
  padding: 55px 25px 53px 25px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 13px;
  color: #000;
  width: 380px;
  height: 400px;
  flex-shrink: 0;

  .slide-layer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-family: "Manrope";
    
    h1{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    }
    span{
      width: 359px;
    color: #58595D;
    text-align: center;
    font-family:" Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    }
  }
}


#works-container{
  width: 100%;
  height: 2264px;
  margin-top:200px;
  position:relative !important;
  align-items: center !important;
  padding-inline: 3rem;
  text-align: center;
  align-content: center !important;
  display: block;
  padding-bottom: 260px !important;

  .works-header{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 1008px;
    text-align: center;
    padding-inline: 1.5rem;

    h4{
    color: #58595D;
    text-align: center;
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 145.833% */
    }
    h1{
      color: #2E2F35;
      text-align: center;
      font-family: "Manrope";
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 55px; /* 114.583% */
      letter-spacing: -2px;
      span{
        color: #4D0695;
      }
    }
  }

  .work-layer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    width: 100%;
    

    .layer-left,
    #layer-right{
      margin-top: 30rem !important;
    }

    // #layer-right{
    //   padding-inline: 0 !important 
    //   }

    #layer-left{
      margin-top: 5rem !important;
    }

    .layer-left,
    .layer-right{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 370px;
    height: 1683px;
    margin-top: 5rem;
    padding-left: 3rem;

   
  }
}
}

#layer-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px !important;
  text-align: left;

  .header{
    width: 563px;
    height: fit-content;
    font-family: "Manrope";
    h2{
      color: #4D0695;

      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 45px; /* 114.583% */
    }
    h3{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
   
    }
  }
  .content{
    display: flex;
    padding: 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 15px;
    border: 2px solid rgba(77, 6, 149, 0.50);
    position: relative;
    p{
      width: 426.091px;
      color: #58595D;
      font-family: "Manrope";
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px; /* 170% */

      a{
        color: #4D0695;
        text-decoration: none;
        
      }
    }

    i{
      font-size: 34px;
      background-color: white;
      color: #4D0695;
      position: absolute;
      left: 3rem;
      top: -1rem;
    }
  }
}

#swiper-works{
  display: none;
}

#swiper-container{
  overflow-x: scroll;
  scrollbar-color: var(--purple);
  scrollbar-width: 1px;
}




@media(max-width:1045px){
  #header-container,
  #about,
  #offer,
  #works-container{
    width: 1350px !important;
  }

  .work-layer{
    display: none;
  }
}



@media(max-width:884px){

  .work-layer{
    display: none !important;
  }
  
#story:hover .layer{
  transform: none;
}

#mission:hover .layer{
  transform: none;
}


#vision:hover .layer{
  transform: none;
}


  #header-container,
  #about,
  #offer,
  #works-container{
    width: 100% !important;
  }
  #header-container{
    width: 100%;
    height: 546px;
    flex-shrink: 0;
    display: block;
    padding: 0 2rem;
    justify-content: flex-end;
    margin-top: 0;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../public/images/mobil-bg.png"), lightgray 50% / cover no-repeat;
  }


  #header p, #header h1{
    color: white;
  }

  #header-body{
    color: white;
  }

  #header-container button{
    box-shadow: 3px 3px 0px 0px #FFF
  }
  

  .bg-img{
    display: none;
  }

  .offer-header{
    width: 729px !important;
  h2{
    font-size: 38px !important;
    
   
  }

  h6{
    font-size: 14px !important;
  }
}

  .about-container{
    height: fit-content;
    padding: 174px 3.5rem;
    margin-inline: 0 !important;
    
  }

  .grid-container{
    display: flex;
    flex-direction: column;
    gap:16px ;
    position: relative;
    margin-top: 30px;
    align-items: center;

    #story,
    #vision,
    #mission{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 406px;
    margin-bottom: 16px;
  }

  #story,
  #vision,
  #mission:hover{
    transform: none;
  }

  .icon-con{
    position: relative;
    margin-bottom: 30px;
    transform: none;
  }

  #story{
    background: #FBE4E7;

    .story-icon{
      background: url("../public/images/story-icon.png");
      padding: 80px;
      opacity: 1;
      background-repeat: no-repeat;
      background-size: cover;
      transform: none;

    }
  }

    #vision{
      background: #D4D8FE;

      .vision-icon{
        background: url("../public/images/vision-icon.png");
        padding: 80px;
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        transform: none;
  
      }
    }

    #mission{
      background: #C1F2FF;

      .mission-icon{
        background: url("../public/images/mission-icon.png");
        padding: 80px;
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        transform: none;
  
      }
    }
  
}

.works-header{

  width: 100% !important;
  h4{
  font-size: 20px !important;
  }
  h1{
    font-size: 40px !important;
  }
}

.content{
  width: 100% !important;
  p{
    width:100% !important;
  }
}

#swiper-works{
  width: 100%;
  display: flex;
  margin-top:40px;
  
}

#layer-content{
  background: #F8F5FB;
  gap: 30px;
  border-radius: 10px;
  padding: 16px;
  h2{
    font-size: 16px;
    
  }

  
}
}


@media(max-width:428px){

  #header-container{
    padding:0 0.5rem;
    height: 446px;
  }
  .header-layer{
    gap: 16px;
  }

  #header p{
    font-size: 24px;
  }

  #header h1{
    font-size: 70px;
  }

  #header-body{
    font-size: 12px;
    width: 300px;
    line-height: 20px !important;
  }

  #header-container button{
    margin-top: 40px !important;
  }

  .about-container{
    padding: 40px 1.5rem;
  }

  .about-container h3{
    font-size: 16px;
    line-height: 35px;
  }
  
  .about-container h1, 
  .about-container h1 span{
    font-size: 20px;
    line-height: 26px;
    margin: 16px 0 !important ;
  }

  .about-container span{
    font-size: 12px;
    line-height: 20px;
  }
  #offer{
    padding-inline: 2rem !important;  
  }

  .offer-header{
    width: 100%!important;

  h2{
    font-size: 20px!important;
    line-height: 30px !important;
    letter-spacing: 0px;
    
   
  }

  h6{
    font-size: 14px !important;
    line-height: 35px !important;
  }
}

// #swiper{
//   margin-left: 0.5rem;
// }
.slider-container{
  padding:16px !important;
  width: 354px !important;
  height: 276px !important;

  .slide-layer{
    gap: 20px;
    align-self: stretch;

    img{
      width: 80px;
      height: 80px;
    }
    
    h1{
      font-size: 16px; 
    }
    span{
      width: 322px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; 
    }
  }
}

  .grid-container{
    margin-inline: 1.5rem;

    .mission-icon,
    .vision-icon,
    .story-icon{
      padding: 40px !important;
    }
  }

  .works-header{

    width: 100% !important;
    h4{
    font-size: 16px !important;
    line-height: 35px;
    }
    h1{
      font-size: 20px !important;
      line-height: 30px !important;
    }
  }

.content{
  width: 100% !important;
  p{
    width:100% !important;
  }
  i{
    background-color: #F8F5FB !important;
  }
}

#swiper-works{
  width: 100%;
  display: flex;
  margin-top:10px !important;
  
}

#layer-content{
  background: #F8F5FB;
  gap: 30px;
  border-radius: 10px;
  padding: 16px;
  h2{
    font-size: 16px !important;
    
  }

  
}

.header{
  width: 100% !important;
  h2{

    font-size: 16px !important;
    line-height: 30px !important;
  }
  h3{
  font-size: 16px !important;
  line-height: 30px !important;
  }
}
.content{
  p{
    font-size: 12px !important;
    line-height: 20px !important;
    }
}
 
#works-container{
  padding-inline: 2rem;
  margin-top: 80px !important;
}

}

@media(max-width:375px){
  .slider-container{
    width: 300px !important;
  }

  span{
    width: 250px !important;
  }
}

@media(max-width:320px){
  #header-body{
    font-size: 12px;
    width: 260px;
    line-height: 20px !important;
  }

  .slider-container{
    width: 270px !important;
  }

  .works-header{

    width: 100% !important;
    h4{
    font-size: 11px !important;

    }
  }

  #offer{
    padding-left: 1.5rem !important;
    padding-right: 0 !important;  
  }
  .offer-header{
    padding-right: 1.5rem !important;
  h2{
    font-size: 18px!important;
    line-height: 20px !important;
    letter-spacing: 0px;
    padding: 0;

    
   
  }

  h6{
    font-size: 10px !important;
    line-height: 30px !important;
  }
}
}